@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .drag {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
  @supports (font-variation-settings: normal) {
    @font-face {
      font-family: "Expletus Sans";
      font-style: normal;
      font-weight: 400 700;
      font-display: swap;
      src: url("../fonts/Expletus_Sans/ExpletusSans-VariableFont_wght.ttf")
        format("truetype");
      font-named-instance: "Regular";
    }
    @font-face {
      font-family: "Expletus Sans";
      font-style: italic;
      font-weight: 400 700;
      font-display: swap;
      src: url("../fonts/Expletus_Sans/ExpletusSans-Italic-VariableFont_wght.ttf")
        format("truetype");
      font-named-instance: "Italic";
    }
    @font-face {
      font-family: "Dosis";
      font-style: normal;
      font-weight: 200 800;
      font-display: swap;
      src: url("../fonts/Dosis/Dosis-VariableFont_wght.ttf")
        format("truetype");;
        font-named-instance: "Regular";
    }
  }
  :root {
    @apply antialiased font-sans;
    @apply antialiased font-expletus;

    --main-text: #111312;
    --main-textli: #f5eaea;
    --main-background: #7a5844;
    --main-primary: #e0bd97;
    --main-secondary: #524742;
    --main-tertiary: #2e2a2d;
    --main-accent: #35383b;
    --main-active: #880000;
    --main-selected: #0095B7;

    --text-50: #f1f3f2;
    --text-100: #e4e7e6;
    --text-200: #c9cfcc;
    --text-300: #aeb7b3;
    --text-400: #939f99;
    --text-500: #788780;
    --text-600: #606c66;
    --text-700: #48514d;
    --text-800: #303633;
    --text-900: #181b1a;
    --text-950: #0c0e0d;

    --textli-50: #f7eeee;
    --textli-100: #eedddd;
    --textli-200: #debaba;
    --textli-300: #cd9898;
    --textli-400: #bd7575;
    --textli-500: #ac5353;
    --textli-600: #8a4242;
    --textli-700: #673232;
    --textli-800: #452121;
    --textli-900: #221111;
    --textli-950: #110808;

    --background-50: #f6f1ef;
    --background-100: #ede4de;
    --background-200: #dac9be;
    --background-300: #c8ae9d;
    --background-400: #b6927c;
    --background-500: #a3775c;
    --background-600: #835f49;
    --background-700: #624837;
    --background-800: #413025;
    --background-900: #211812;
    --background-950: #100c09;

    --primary-50: #f9f2eb;
    --primary-100: #f4e6d7;
    --primary-200: #e8cdb0;
    --primary-300: #ddb488;
    --primary-400: #d19b61;
    --primary-500: #c68239;
    --primary-600: #9e682e;
    --primary-700: #774e22;
    --primary-800: #4f3417;
    --primary-900: #281a0b;
    --primary-950: #140d06;

    --secondary-50: #f4f2f1;
    --secondary-100: #e8e4e3;
    --secondary-200: #d2cac6;
    --secondary-300: #bbafaa;
    --secondary-400: #a4958e;
    --secondary-500: #8e7a71;
    --secondary-600: #71625b;
    --secondary-700: #554944;
    --secondary-800: #39312d;
    --secondary-900: #1c1817;
    --secondary-950: #0e0c0b;

    --tertiary-50: #f3f1f3;
    --tertiary-100: #e7e4e6;
    --tertiary-200: #cfc9ce;
    --tertiary-300: #b7aeb5;
    --tertiary-400: #9f939d;
    --tertiary-500: #877884;
    --tertiary-600: #6c606a;
    --tertiary-700: #51484f;
    --tertiary-800: #363035;
    --tertiary-900: #1b181a;
    --tertiary-950: #0e0c0d;

    --accent-50: #f2f2f3;
    --accent-100: #e4e6e7;
    --accent-200: #c9cccf;
    --accent-300: #afb3b6;
    --accent-400: #94999e;
    --accent-500: #798086;
    --accent-600: #61666b;
    --accent-700: #494d50;
    --accent-800: #303336;
    --accent-900: #181a1b;
    --accent-950: #0c0d0d;

  }
  .dark {
    --text-50: #0c0e0d;
    --text-100: #181b1a;
    --text-200: #303633;
    --text-300: #48514d;
    --text-400: #606c66;
    --text-500: #788780;
    --text-600: #939f99;
    --text-700: #aeb7b3;
    --text-800: #c9cfcc;
    --text-900: #e4e7e6;
    --text-950: #f1f3f2;

    --background-50: #100c09;
    --background-100: #211812;
    --background-200: #413025;
    --background-300: #624837;
    --background-400: #835f49;
    --background-500: #a3775c;
    --background-600: #b6927c;
    --background-700: #c8ae9d;
    --background-800: #dac9be;
    --background-900: #ede4de;
    --background-950: #f6f1ef;

    --primary-50: #140d06;
    --primary-100: #281a0b;
    --primary-200: #4f3417;
    --primary-300: #774e22;
    --primary-400: #9e682e;
    --primary-500: #c68239;
    --primary-600: #d19b61;
    --primary-700: #ddb488;
    --primary-800: #e8cdb0;
    --primary-900: #f4e6d7;
    --primary-950: #f9f2eb;

    --secondary-50: #0e0c0b;
    --secondary-100: #1c1817;
    --secondary-200: #39312d;
    --secondary-300: #554944;
    --secondary-400: #71625b;
    --secondary-500: #8e7a71;
    --secondary-600: #a4958e;
    --secondary-700: #bbafaa;
    --secondary-800: #d2cac6;
    --secondary-900: #e8e4e3;
    --secondary-950: #f4f2f1;

    --accent-50: #0c0d0d;
    --accent-100: #181a1b;
    --accent-200: #303336;
    --accent-300: #494d50;
    --accent-400: #61666b;
    --accent-500: #798086;
    --accent-600: #94999e;
    --accent-700: #afb3b6;
    --accent-800: #c9cccf;
    --accent-900: #e4e6e7;
    --accent-950: #f2f2f3;

  }
}
